{% extends "layout.html" %}

{%block title_block%} 分享|多便宜{%endblock%}


{% block content_block %}
   

<div class="content_header">
  <h1>分享多便宜</h1>
  </div>


<div class="inner">
   {%if  content %}
   <div class="notify">
      <div class="message" >
       <h1>{{content}}</h1>
      </div>
   </div>
   {% endif %}

  <form action="/share" method="post" id="signupform" class="account fl">

   <div class="item">
      <label>名称</label>
      <input id="name" name="name"  type="text" class="basic-input" maxlength="60" tabindex="1" >
    </div>
	   <div class="item">
      <label>分类</label>
      <input id="name" name="tags"  type="text"  class="basic-input" maxlength="60" tabindex="1" >
    </div>
   <div class="item">
      <label>来源</label>
      <input id="name" name="source"  type="text" class="basic-input" maxlength="300" tabindex="1" >
    </div>
   <div class="item">
      <label>价格</label>
      <input id="name" name="price"  type="text" class="basic-input" maxlength="60" tabindex="1" >
    </div>
  <div class="item">
      <label>商铺</label>
      <input id="name" name="store"  type="text" class="basic-input" maxlength="60" tabindex="1" >
    </div>


   <div class="item">
      <label>图链</label>
      <input id="name" name="picurl" type="text" class="basic-input" maxlength="300" tabindex="1" >
    </div>


  <div class="item">
      <label>简介</label>
 <textarea id="desc-textarea" name="intro" rows="5" value="">  </textarea>
</div>
 <input class="bigbutton submit" name="commit" type="submit" value="发布">
  </form>
</div>


<div class="clear"></div>
{%endblock%}



 
