{% extends "layout.html" %}
{%block title_block%} {{thisguy.username  }}的分享_管理员模式{%endblock%}

{% block content_block %}
   
<script> 
$(function(){
$(".follow").click(function(){
var self = this, id = self.rel;
$.post("/follow", {follow:id}, function() {
$("#follow-block").hide();
$("#followed-block").show();
n_span = $("#n_followed");
n_span.text(n_span.text() - 0 + 1)
})
});
$(".unfollow").click( function() {
var self = this, id = self.rel;
$.post("/unfollow", {unfollow:id}, function() {
$("#follow-block").show();
$("#followed-block").hide();
n_span = $("#n_followed");
n_span.text(n_span.text() - 0 - 1)
})
});
})
</script> 



<div class="left_side">
       <h1 >{{thisguy.username}}的分享</h1>


<div class="userpost">

{%for d in datalist%}
{% if  d[0]=="comment" %}
	<div class="singlepost">
		对<a href="/item/{{d[1].ID}}/">{{d[1].name}}</a>评论：
		{{d[2].content}}
		<div class="actions">
			<span class="created_at" title="{{d[2].created}}">{{d[3]}} <a href="/editpost/{{d[2].ID}}/">编辑发言</a></span>
		</div>
</div>
{%else%}
<div class="singlepost">
	{{d[1].content}}
<div class="actions">
	<span class="created_at" title="{{d[1].created}}">{{d[2]}}<a href="/editpost/{{d[1].ID}}/">编辑发言</a></span>
</div>
</div>
{% endif %}
{% endfor %}


</div>
     
{%if next %}
<a href="?page={{next}}">下一页</a>
{%endif%}

 </div>

<div class="right_side">
<div class="right_up"></div>
<div class="right_detail">
<img src="{{thisguy.get_big_avatar()}}" style="margin: auto auto 25px;"><p > 
<a href="/user/{{thisguy.ID}}/">{{thisguy.username}}</a> {{ thisguy.created.strftime('%Y-%m-%d')}}加入
</p>
<p>关注了{{counts[0]}}个人,同时被{{counts[1]}}个人关注</p>
{% if relation=="self"  %}
<p >这是我的主页 </p>
{% endif %}
{% if relation=="ifollowhim"  %}
<div class="follow-block " id="followed-block">
<span>
<a href="javascript:void(0)" class="red-link" rel="{{thisguy.ID}}" style="background-color:#ccc">已关注</a>
</span>
<span>

<a href="javascript:void(0)" class="unfollow" rel="{{thisguy.ID}}" style="color:#ccc">取消</a>
</span>
</div>

<div class="follow-block  hide" id="follow-block">
<a href="javascript:void(0)" class="follow red-link" rel="{{thisguy.ID}}">关注</a>
</div>
{% endif %}
{% if  not relation   %}
<div class="follow-block  hide" id="followed-block">
<span>
<a href="javascript:void(0)" class="red-link" rel="{{thisguy.ID}}" style="background-color:#ccc">已关注</a>
</span>
<span>

<a href="javascript:void(0)" class="unfollow" rel="{{thisguy.ID}}" style="color:#ccc">取消</a>
</span>
</div>

<div class="follow-block " id="follow-block">
<a href="javascript:void(0)" class="follow red-link" rel="{{thisguy.ID}}">关注</a>
</div>



{% endif %}

</div>

</div>


<div class="clear"></div>



{%endblock%}
