{% extends "layout.html" %}

{% block content_block %}
<style>/* Pure CSS Post Tags */	

.tags{
	margin:0;
	padding:0;
	position:absolute;
	list-style:none;
	}	
.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
	}	
	
	
</style>

   

<div id="container"> 
<div class="pic">
<div style="width:220px;height:280px;">
<h3>分类浏览</h3>
<ul id="tags_explore">
<li><a href="#">居家</a> </li>
<li><a href="#">食品</a></li>
<li><a href="#">美妆</a></li>
<li><a href="#">科技</a></li>
</ul>
</div>
</div>
{% for node in nodes %}
<div class="pic" >
 <a href="/item/{{node.ID}}/"><img src="{{node.get_m_pic()}}"></a> 
<p>{{node.des}}</p>
</div>
{% endfor  %}



</div>








<script src="http://imihui.com/static/jquery.masonry.min.js"></script> 
<script> 
  $(function(){
 
    var $container = $('#container');
  
    $container.imagesLoaded( function(){
      $container.masonry({
        itemSelector : '.pic'
      });
    });
  
  });
</script> 
{%endblock%}
