<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<meta charset="utf-8">
<title>{%block title_block%} 觅汇{%endblock%}</title>
<link rel="icon" type="image/x-icon" href="http://imihui.com/static/imihui.ico">
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_FILE_URL}}/site.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>  
</head>

<body>
{% import "blocks.html" as blocks %}
<div id="header"> 
    {% block head_block %}
        <div id="site">
            <div id="logo" class="fl"><a href="/">主页</a></div>
           <div class="main_nav" class="fl">
		   <ul id="main_nav_ul">
               <li><a href="/share">分享+</a></li>
			   <li><a href="/explore">发现</a></li>
		   </ul>
		   </div>		   
    {%if user%}
                <!-- 已登录：个人信息框 -->
                {{blocks.people_info_block(user)}}
                <!-- End 个人信息框 -->
            {%else%}
                {{blocks.login()}}
            {%endif%}
			
        </div>
    {%endblock%}
</div>

<div id="main">
    {% block main_block %}
        <div id="content"> 
            {%block content_block %}
            {% endblock%}
        </div>
    {% endblock %}
</div>
<div id="footer">
 {%block footer_block%}
      <div id="foot">
	  <div id="footwapper">
       <a href="/aboutus"> 关于我们 </a> &nbsp;&nbsp;
	   </div>
      </div>
   {% endblock %}
</div>
</body>
</html>
