{% extends "layout.html" %}

{%block title_block%} {{user.username  }}的设置|多便宜{%endblock%}



{% block content_block %}
   

  <div class="content_header">

   {%if  content %}
   <div class="notify">
      <div class="message" >
       <h1>{{content}}</h1>
      </div>
   </div>
   {% endif %}

  <h1>{{user.username}}的设置</h1>
  </div>
<div class="bar"> 
   <a href="/profile/password">基本信息</a><a href="/profile/avatar">设置头像</a><span class="current"><span>设置密码</span></span>
 </div>
<div class="inner">
</form>
  <form action="/profile/password" method="post" id="signupform" class="account fl" enctype="multipart/form-data" >
    <div class="item">
      <label>密码</label>
      <input id="email" name="password" type="password" class="basic-input" maxlength="60" tabindex="1"  >
    </div>

	 <div class="item">
      <label>确认</label>
      <input id="name" name="password1" type="password" class="basic-input" maxlength="60" tabindex="1" >
    </div>



    <input class="bigbutton submit" name="commit" type="submit" value="确定">
  </form>

  <div class="aside fr"> 
  <img src="{{user.get_big_avatar()}}">
  </div>
</div>

<div class="clear"></div>
{%endblock%}
